# site properties and page defaults
title: Carlson Lab
subtitle: Decoding Spreading Depolarizations in Acute Brain Injury
description: |
  We investigate spreading depolarizations (SDs), massive waves of brain silencing that are a key mechanism of secondary injury after stroke and trauma. Our team uses cutting-edge brain monitoring in the Neuro-ICU to understand what triggers these events and how to stop them, creating a foundation for a new generation of neuroprotective therapies.
header: images/header-background.jpg
footer: images/footer-background.jpg
proofer: false

# site social media and other links
links:
  email: eqb2ts@uvahealth.org
  google-scholar: https://scholar.google.com/citations?user=-zdSXzQAAAAJ&hl=en
  github: ChaitaliH
  twitter: null
  youtube: null

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
